{% extends theme("layout.html") %}

{% block content %}
<div class="error">
    <h1>{{ _("404, Page Not Found") }}</h1>
    <blockquote>
        <p>The requested page,</p>
        <p>cannot be found —  </p>
        <p>We're sorry.</p>
    </blockquote>
    <div class="simple">
        <p>{{ _("Maybe you can try search:") }}</p>
        <form action="{{ url_for("frontend.search") }}" method="GET">
            <input type="text" class="text" value="{{ request.args.get('q','') }}" id="q" name="q"><input type="submit" class="button" value="{{ _('Search') }}" id="searchsubmit">
        </form>
    </div>
</div>
{% endblock %}
