{% extends theme("layout.html") %}

{% block content %}
<div class="content">
    <h2 class="title">{{ _("About") }}</h2>
    <div id="about" class="post-content">
        <p>我在2011年2月14日开始写这个blog系统, 基于<a href="http://flask.pocoo.org/" title="A Python Microframework">flask</a>.</p>
        <p>flask跟django, pylons, turboGears, uliweb, bottle, web.py等一样, 同为python的web框架之一. 虽然之前用过上面讲的大部分框架, 但最后选择了flask来写这个blog系统, 原因是它很灵活, 有一个比较稳定的核心(Werkzeug), 更新够快, 据说是作者精力比较旺盛. :)</p>
        <h3>功能特点:</h3>
        <ul>
            <li>支持多语言(i18n)</li>
            <li>支持代码高亮(pygments)</li>
            <li>使用淘宝(kissy-editor)编辑器</li>
            <li>支持多用户</li>
            <li>支持本地或外部(如Disqus)评论</li>
            <li>支持评论级联回复</li>
            <li>不支持分类, 只保留标签功能</li>
            <li>支持模板在线管理</li>
            <li>twitter API支持, 可在线发推</li>
            <li>RSS支持</li>
        </ul>
        <h3>待开发:</h3>
        <ul>
            <li>模板在线管理的完善</li>
            <li>高级皮肤制作</li>
        </ul>
        <h3>日志:</h3>
        <ul>
            <li>1.1.0 2010-04-21 (添加“最新评论”，修复非mysql引擎下的错误)</li>
            <li>1.1.0 2010-04-12 (修复一些bug)</li>
            <li>1.1.0 2010-03-12 (twitter API支持)</li>
            <li>1.0.0 2010-03-09 (核心功能实现)</li>
        </ul>
        <p>最后, 我希望能持续完善这个博客功能, 暂定名为pypress. </p>
    </div>
</div>
{% endblock %}
